@charset "utf-8";
@import "variable";
*{
  margin:0;padding:0;
  font-size:$base_fontSize;
}
ul,ol{
  list-style:none;
}
a{
  color: #000;text-decoration:none;
}
img{border:0;}
body{
  font-size:12px;
}
/*以上是重置样式*/
.bg{
  width:1000px;margin:0 auto;padding:10px 0 1px;
}
.blackNav{
  background: url("../images/juicyBg.jpg") no-repeat 0px -136px #212121;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 8px;
}
.blackNav ul{float:right;}
.blackNav li{
  background: url("../images/ico01.gif") no-repeat 10px 3px;
  color: #fff;
  line-height: 24px;
  padding-right: 25px;
  padding-left: 40px;
  border-right:1px solid #fff;
  float: left;
}
.blackNav li>a{color:#fff;font-size:14px;}
.blackNav li>a:hover{text-decoration:underline;}
/*blackNav end*/
/*楼层开始*/
.xs-mainsection{padding-top:28px;}
.xs-title{
  height: 33px;
  line-height: 33px;
  padding:0 10px;
  color: #333;
  background: #e0e0e0;
}
.xs-title p{float:right}
.xs-title p>a{color:#666;}
.xs-title span{
  width: 3px;
  height: 14px;
  display: inline-block;
  background: #e47313;
  margin: 10px 5px 0px 0px;
  float: left;
  overflow: hidden;
  vertical-align: middle;
}
.xs-title strong{
  font: 16px/33px "Microsoft YaHei";
  display: inline-block;
  float: left;
  overflow: hidden;
}
.item-box:after{
  display:block;height:0;clear:both;content:".";
  overflow:hidden;visibility:hidden;
}
.item-box{
  padding-bottom:10px;
  width: 1000px;
  background: #efefef;
}
.item-box .item{
  float: left;
  width: 234px;
  height: auto;
  margin: 8px 0px 0px 5px;
  display: inline;
  padding: 5px 5px 15px 5px;
  position: relative;
}
.item:hover{
  background:#faf9f7;
}
.item .pic{
  position: relative;
  width: 234px;
  height: 312px;
  overflow: hidden;
}
.sold-size{
  width: 234px;
  background:rgba(256,256,256,0.9);
  position: relative;
  top:0;
  transition:all .3s;
}
.item:hover .sold-size{top:-68px;}
.sold-size p{
  color: #666;
  height: 14px;
  padding: 10px 0px 0px 5px;
}
.sold-size-list{
  padding: 10px 0px 0px 5px;
  height: 100%;
  overflow: hidden;
}
.sold-size-list li{
  cursor: pointer;
  border: 1px solid #BFBFBF;
  background: #fff;
  color: #333;
  float: left;
  height: 22px;
  line-height: 22px;
  margin: 0px 9px 10px 0px;
  text-align: center;
  padding: 0px 10px;
  display: inline;
  overflow: hidden;
}
.txt{
  height: 36px;
  overflow: hidden;
  line-height: 18px;
  padding: 6px 0px 0px 0px;
}
.txt a{color:#666;}
.txt a:hover{color:#f26521;}
.price{
  margin: 3px 0;
  color: #636363;
}
.price span{
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 13px;
  color: #D80C18;
  background: url(../images/xsearchico20120615.png?__=20120803) no-repeat 2px -359px;
}
.saleout{position:absolute;top:5px;right:5px;}
/*Lavidione*/
.Lavidione .sold-size{display:none;}
.Lavidione .item-box>ul>li:nth-child(8) .sold-size{display:block;}
/*AEannelog*/
.AEannelog .sold-size{display:none;}
.AEannelog .item-box>ul>li:nth-child(3) .sold-size{display:block;}
.AEannelog .item-box>ul>li:nth-child(6) .sold-size{display:block;}
/*Fagire*/
.Fagire .item-box>ul>li:nth-child(8) .sold-size{display:none;}
/*otherbox*/
.otherbox:after{
  content:".";height:0;clear:both;display:block;
  overflow:hidden;visibility:hidden;
}
.otherbox .tit{
  background: #000;
  padding: 0px 15px;
  height: 50px;
  margin-top: 20px;
}
.tit h2{
  margin-top: 10px;float: left;
}
.tit span{
  line-height: 50px;
  font-family: simsun;
  float: right;
}
.tit span a{color:#fff;}
.other-pic{
  border: 1px solid #d7d6d4;
  padding-top: 20px;
  float: left;
  width: 998px;
}
/*bg end*/
#backtop{
  position: fixed;
  right: 30px;
  bottom: 180px;
  display: block;
  z-index: 99;
}
.backmenu{
  width: 67px;
  background: #fff;
}
.backmenu span{
  color: #f00;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 67px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  border: 1px solid #ddd;
}
.backmenu span:hover{
  background:#f00;color:#fff;
}
.backmenu a{
  display:block;width:69px;height:56px;
  background: url(../images/r_menu_bg.jpg) no-repeat;
}
.backmenu a:nth-of-type(1){
  background-position:0px -1px;
}
.backmenu a:nth-of-type(2){
   background-position:0px -59px;
 }
.backmenu a:nth-of-type(3){
  background-position:0px -117px;
}
.backmenu a:nth-of-type(4){
  background-position:0px -175px;
}