@charset "utf-8";
@import "variable";
*{
  margin:0;padding:0;
  font-size:$base_fontSize;
}
ul{
  list-style:none;
}
a{
  color: #000;text-decoration:none;
}
img{border:0;}
body{
  font-size:12px;
}
/*以上是重置样式*/
.footer{
  width:100%;background:#fff;padding-bottom:20px;
}
.footer-top{
  background:#ebebeb;
  border-top:#9a9a9a 3px solid;
  margin:0 0 15px 0;
  height:160px;padding-top:20px;
}
.footer-top-in{
  width:1200px;margin:0 auto;
}
.footer-top-in:after{
  content:".";height:0;display:block;clear:both;
  overflow:hidden;visibility:hidden;
}
.left-one{
  height:125px;
  margin:10px 100px 0 0;
  float:left;
  width:183px;
}
.kf{
  background: url(../images/footer_sprite.gif) no-repeat left -86px;
  display: inline-block;
  width:183px;
  height:35px;
}
.left-one p{
  background: url(../images/footer_sprite.gif) no-repeat left -122px;
  width: 183px;
  height: 45px;
}
.tc{
  background: url(../images/footer_sprite.gif) no-repeat left -167px;
  display: inline-block;
  width: 183px;
  height: 35px;
}
.footer-top-in a{color:#252525;}
.footer-top-in dl{
  padding: 8px 60px 0 0;
  width: 130px;float:left;
}
.footer-top-in dl>dt{
  color:#252525;
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
.footer-top-in dl dd{
  width: 100%;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
}
.footer-top-in dl a:hover{color:#ed6104;}
dl.wchat{
  float:right;width:95px;padding-right:0;
}
dl.wchat dd{
  background: url(../images/footer_sprite.gif) no-repeat -189px -87px;
  width: 85px;
  height: 85px;
  margin-left: 2px;
}
.footlink{
  width:1200px;height:32px;line-height:32px;margin:0 auto;
}
.fl-in{text-align:center;color:#d5ccd5;}
.fl-in a{padding:0 12px;}
.fl-in a:hover{color: #ff9728;}
.footerbtn{
  width:630px;
  height:50px;
  padding:10px 0px;
  margin:0 auto;
}
.footerbtn a{
  width: 145px;
  height: 44px;
  margin-left: 47px;
  display: inline-block;
  float: left;
  background: url(../images/foot_icons.jpg) no-repeat;
}
.footerbtn a:nth-child(1){
  background: url(../images/foot_icons.jpg) no-repeat;
}
.footerbtn a:nth-child(2){
  background: url(../images/foot_icons.jpg) no-repeat -193px 0;
}
.footerbtn a:nth-child(3){
  background: url(../images/foot_icons.jpg) no-repeat -385px 0;
}
.version{
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #999;
}
.version a{
  margin: 0 3px;
  color: #999;
  font-weight: bold;
}
.version a:hover{color:#ff9728;}
.footer-bot{
  overflow: hidden;
  padding: 10px 0px;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.footer-bot a{margin-left:12px;}
/*footer end*/