@charset "utf-8";
@import "variable";
*{
  margin:0;padding:0;
  font-size:$base_fontSize;
}
ul{
  list-style:none;
}
a{
  color: #000;text-decoration:none;
}
body{
  font-size:12px;
}
/*以上是重置样式*/
.top{
  width:100%;background:#333;height:83px;padding:10px 0 0;
}
.topin{
  width:1200px;margin:0 auto;height:82px;
}
.top-up{
  position:relative;
}
.top-up:after{
  content:".";height:0;display:block;clear:both;
  overflow:hidden;visibility:hidden;
}
.top-up-left{float:left}
.top-up-left a{color:#d7d7d7;}
.top-nav>li{
  float:left;color:#d7d7d7;height:34px;line-height:34px;padding:0 8px;
  border:1px solid #333;
}
.top-nav>li:nth-child(1){
  padding-left:5px;
}
.top-nav>li:nth-child(1) a:hover{
   color:#bfbfbf;
 }
.top-nav .my_bag{
  position:relative;padding-left:29px;
  background:url(../images/spriter2016.png) no-repeat -215px -40px;
}
.top-nav .my_bag a>span{color:#f78407;}
.bag{
  display: none;
  position: absolute;top:34px;left:-1px;
  z-index: 10;border: 1px solid #e5e4e4;color:#000;
  background: #fff;width: 280px;padding: 15px 8px 8px;
}
.my_bag:hover{
  background:url(../images/spriter2016.png) no-repeat -215px -75px;
  background-color:#fff;
  border: 1px solid #e5e4e4;border-bottom: none;
}
.my_bag:hover a{color:#d50215;}
.my_bag:hover .bag{display:block;border-top:0;}
.top-nav .my_show{
  padding-right:18px;position:relative;
  background:url(../images/spriter2016.png) no-repeat right -108px;
}
.showlist{
  position: absolute;top:34px;left:-1px;
  z-index: 10;border: 1px solid #d7d7d7;
  background-color: #fff;width:74px;
  padding-bottom: 8px;border-top: none;
  display:none;
}
.showlist a{
  color: #464545;display: block;overflow: hidden;
  line-height: 25px;padding-left: 10px;
}
.my_show:hover{
  background:url(../images/spriter2016.png) no-repeat right -144px;
  background-color:#fff;
  border: 1px solid #d7d7d7;border-bottom: none;
}
.my_show:hover .showlist{display:block;}
.my_show:hover>a{color:#d50215;}
.showlist a:hover{color:#d50215;}
/*top-up-left end*/
.top-up-center{
  width: 212px;position: absolute;left: 50%;top: 0;
  margin: 0 0 0 -106px;
}
.top-up-center a{
  display: block;width: 212px;height: 32px;
  background: url(../images/spriter2016.png) no-repeat 0 0;
}
/*top-up-center end*/
.top-up-right{
  float:right;position:relative;width:264px;height:30px;
}
.top-up-right input[type="text"]{
  width:254px;height:28px;border:1px solid #787878;color:#787878;
  padding-left:10px;background:0;
}
.top-up-right input[type="submit"]{
  width:28px;height:26px;border:0;cursor:pointer;
  position:absolute;top:1px;right:0;
  background:url(../images/spriter2016.png) no-repeat 0px -42px;
}
.top-up-right input[type="submit"]:hover{
  background:url(../images/spriter2016.png) no-repeat -41px -42px;
}
/*top-up end*/
.top-down{
  width: 1200px;height: 45px;line-height:45px;text-align:center;
  padding-top:1px;font-size:13px;
}
.top-down a{color:#eee;padding:0 23px;}
.top-down a:nth-child(6){color:#fc0000;}
.top-down a:hover{color:#bfbfbf;}
.top-down a:nth-child(6):hover{color:#eb0116;}
.top-down .pageOn{color:#bfbfbf;}
/*top end*/
.nav{
  width:100%;height:43px;background:#f7f7f7;
}
.navin{
  width: 1200px;height: 42px;line-height:42px;margin:0 auto;
  border-bottom: 1px solid #fff;text-align:center;
}
.navin>ul>li{display:inline-block;}
