@charset "utf-8";
@import "variable";
*{
  margin:0;padding:0;
  font-size:$base_fontSize;
}
ul{
  list-style:none;
}
a{
  color: #000;text-decoration:none;
}
img{border:0;}
body{
  font-size:12px;
}
/*以上是重置样式*/
.swiper-container{
  width:1200px;height:630px;margin:0 auto;
}
.swiper-pagination li{
  width:15px;height:15px;background:#666;position:relative;top:-20px;
}
.short_cut{
  width: 1170px;
  margin: 0 auto;
  height: 86px;
  padding: 0 0 20px 30px;
}
.short_cut>a{
  float: left;
  display: block;
  width: 250px;
  height: 86px;
  margin: 0 60px 0 0;
  background: url(../images/shortcut3a.jpg) no-repeat;
  transition: all .3s;
}
.short_cut a:nth-child(2){
  background-position:-250px 0;
}
.short_cut a:nth-child(3){
  background-position:-745px 0;
}
.short_cut a:nth-child(4){
  width:215px;margin:0;
  background-position:-985px 0;
}
.short_cut a:hover{transform:translateX(-15px);}
/*banner end*/
.main{width:1200px;margin:0 auto;}
/*楼层开始*/
.main h3{
  padding: 0 0 20px;
  text-align: center;
}
.home_goods:after{
  content:".";height:0;clear:both;display:block;
  overflow:hidden;visibility:hidden;
}
.home_goods ul{margin-bottom:40px;overflow:hidden;}
.home_goods li{
  float: left;
  width: 400px;
  margin:0;
}
.home_goods li a{
  display: block;
  width: 100%;
  height: 100%;
}
.home_goods li img{
  transition:all .3s;display:block;
}
.home_goods li:hover img{
  opacity:0.8;
}
/*--home_goods end--*/
.home_beats:after{
  content:".";height:0;clear:both;display:block;
  overflow:hidden;visibility:hidden;
}
.home_beats ul{overflow:hidden;}
.home_beats li{
  float: left;
  width: 600px;
  margin: 0 0 40px;
  overflow:hidden;
}
.home_beats li a{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.home_beats li p{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 80px;
  margin: -40px 0 0;
  text-align: center;
}
.home_beats li a>img{
  width: 600px;height: 300px;
  transition:all .3s;display:block;
}
.home_beats li:hover a>img{
  transform:scale(1.05);
}
/*--home_beats end--*/
.home_auto{
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0 50px;
  overflow: hidden;
}
.home_auto img{display:block;}
/*--home_auto end--*/
.home_find{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.home_find:after{
  content:".";height:0;clear:both;display:block;
  overflow:hidden;visibility:hidden;
}
.home_find ul{
  width: 1217px;
  overflow: hidden;
  margin: 0 auto 20px;
}
.home_find li{
  float: left;
  width: 287px;
  margin: 0 17px 20px 0;
}
.home_find li>a{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.home_find li p{
  position: absolute;
  left: 0;
  top: 0;
  width: 285px;
  height: 488px;
  border: 1px solid #efefef;
}
.home_find li:hover p{
  border:2px solid #d5d5d5;
}
/*home_find end*/

/*main end*/
#right_nav{
  z-index: 10000;
  position: fixed;
  top: 240px;
  left: 50%;
  margin-left: 595px;
  width: 110px;
}